body {
    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    width: 900px;
    margin: 0 auto;
    padding-top: 40px;
}

a {
    text-decoration: none;
}

.btn {
    outline: none;
    outline-offset: 0;
}

.pizza {
    margin-bottom: 85px;
}

.pizza__item, .pizza__item-control {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.pizza__list {
    border-top: 1px solid #bfbfbf
}

.pizza__item {
    padding: 16px 3px 17px;
    border-bottom: 1px solid #bfbfbf
}

.pizza__item-control .btn {
    display: block;
    position: relative;
    width: 25px;
    height: 25px;
    border: 2px solid red;
    box-sizing: border-box;
    border-radius: 50%;
    cursor: pointer;
    background-color: white;
}

.pizza__item-control .count {
    padding: 0 10px 0 10px;
}

.pizza__item-description p {
    font-weight: 700;
    line-height: 1.2;
}

.pizza__item-description1 p {
    line-height: 1.2;
}

.pizza__item-control .btn:after, .btn_plus:before {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    width: 11px;
    height: 1px;
    top: 50%;
    margin: 0 auto;
    background-color: red;

}

.pizza__item-control .btn:after {
    transform: translate(-50%, 50%);
}

.pizza__item-control .btn_plus:before {
    transform: translate(-50%, 50%) rotate(90deg);
}

.btn-action {
    width: 82px;
    height: 25px;
    margin-left: auto;
    color: #a6a6a6;
    font-size: 13px;
    background-color: transparent;
    border-radius: 10px;
    border: 1px solid #bfbfbf;
}

.pizza__item.delete .pizza__item-img,
.pizza__item.delete .pizza__item-description,
.pizza__item.delete .pizza__item-description1,
.pizza__item.delete .pizza__item-control {
    opacity: 0.5;
}

.btn_minus[disabled] {
    opacity: 0.5;
}

.progress__item {
    display: flex;
    align-items: center;
    margin-bottom: 55px;
}

.progress__bar {
    position: relative;
    width: 240px;
    height: 23px;
    margin-left: 75px;
    border: 1px solid rgb(191, 191, 191);
    border-radius: 10px;
}

.progress__bar-fill {
    display: block;
    height: 100%;
    background-color: rgb(255, 0, 0);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.progress__bar-fill_circle {
    border-radius: 10px;
}

.progress__value {
    display: block;
    margin-top: 8px;
    text-align: center;
}

.progress__value_right {
    text-align: right;
}
